body {
    background-image: url('./EMSLogo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 25%;
}

#AnswerA,
#AnswerB,
#AnswerC,
#AnswerD {
    color: blue;
}